################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.idea
/.vs
/Angular/.vscode
/.stryker-tmp
/node_modules
stryker.config.json
.idea/workspace.xml
