################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.idea
/.vs
/Angular/.vscode
/.stryker-tmp
/node_modules
.idea/workspace.xml
/PHP/.idea
/PHP/vendor
PHP/.env
PHP/.phpunit.result.cache
